<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="center jumbotron jumbotron-extend">
        <%= form_for(:session, url: login_path) do |f| %>

        <%= f.text_field :name, placeholder: "Name", class: 'form-control' %>

        <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>

        <%= f.submit "Go", class: "btn btn-lg btn-primary" %>
      <% end %>

      <p><%= link_to "Create account", signup_path %></p>
    </div>
  </div>
</div>