<li id="task-<%= task.id %>">
  <%# <span class="user"><%= link_to task.user.name, task.user %><%# </span> %>
  <span class="content"><%# <%= task.content %>
		<% if current_user?(task.user) %>
			<input name="taskoff" class="strikethrough" value="" type="checkbox">
      <label for="taskoff"><%= task.content %></label>
      <%= link_to task, method: :delete, data: { confirm: "You sure?" } do %>
				<i class="far fa-times-circle fa-fw"></i>
			<% end %>
		<% else %>
			<%= task.content %>
    <% end %>
	</span>
  <%# <span class="timestamp">
    Posted <%= time_ago_in_words(task.created_at) > ago.
  </span> %>
    <%= render "likes/like", task: task %>
</li>