<li id="task-<%= task.id %>">
  <%# <span class="user"><%= link_to task.user.name, task.user %><%# </span> %>
  <span class="content"><%# <%= task.content %>
  	<% if current_user?(task.user) %>
    	<% if task.done %>
      	<%= form_for(task, method: :put, remote: true) do |f| %>
        	<%= button_tag(class: "btn transparent_btn") do %>
          	<i class="fas fa-check-circle fa-icon"></i>
        	<% end %>
      		<span class="task-complete">
        		<span id="task_text_body"><%= task.content %></span>
					</span>
					<!-- Task削除ボタン -->
      		<%= link_to task, method: :delete, data: { confirm: "You sure?" } do %>
        		<i class="far fa-times-circle fa-delete"></i>
      		<% end %>
    		<% end %>
			<!-- タスク未完了 -->
    	<% else %>
      	<%= form_for(task, method: :put, remote: true) do |f| %>
      		<%= button_tag(class: "btn transparent_btn") do %>
        		<i class="far fa-check-circle fa-icon"></i>
      		<% end %>
      		<span id="task_text_body"><%= task.content %></span>
      			<i class="fas fa-star fa-iine"><%= task.likes.count %></i>
      		<!-- Task削除ボタン -->
      		<%= link_to task, method: :delete, data: { confirm: "You sure?" } do %>
        		<i class="far fa-times-circle fa-delete"></i>
      		<% end %>
    		<% end %>
  		<% end %>
		<% else %>
			<div class="all-tasks">
				<span id="task_text_body"><%= task.content %></span>
				<%= render "likes/like", task: task %>
			</div>
		<% end %>
	</span>
</li>