<h1><%= @user.name %></h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="center jumbotron jumbotron-extend">
		<section class="user_info">
      <% if logged_in? %>
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="task_form">
          <%= render 'shared/task_form' %>
        </section>
      <%#<% else %>
        <%#<h1>
  			  <%= @user.name %>
			  <%#</h1> %>
      <% end %>
    </section>
      <% if @user.tasks.any? %>
        <h3>Tasks (<%= @user.tasks.count %>)</h3>
        <ol class="tasks">
          <%= render @tasks %>
        </ol>
        <%= will_paginate @tasks %>
        <% end %>
    </div>
  </div>
</div>