<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
      <% if logged_in? %>
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="task_form">
          <%= render 'shared/task_form' %>
        </section>
      <% else %>
        <h1>
  			  <%= @user.name %>
			  </h1>
      <% end %>
    </section>
  </aside>
	<div class="col-md-8">
    <% if @user.tasks.any? %>
      <h3>Tasks (<%= @user.tasks.count %>)</h3>
      <ol class="tasks">
        <%= render @tasks %>
      </ol>
      <%= will_paginate @tasks %>
    <% end %>
  </div>
</div>