<% if @user.tasks.any? %>
	<ul class="task-counter">
  	<li>Total : <span class="task_total"><%= @user.tasks.count %></li></span>
		<li>Remaining : <span class="task_remaining"><%= @user.tasks.where(done: false).count %></li></span>
		<li>Done : <span class="task_done"><%= @user.tasks.where(done: true).count %></li></span>
		<li>like : <span class="user_iine">
      <% sum = 0 %>
      <% @user.tasks.each do |task| %>
        <% sum = sum + task.likes_count %>
      <% end %>
      <%= sum %>
      </span>
    </li>
	</ul>
    <ol class="tasks">
      <%= render @tasks %>
    </ol>
  <%= will_paginate @tasks %>
<% end %>